<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors</title>
</head>
<body>
	<h1>Results</h1>
	<p>Player: <%= playerChoice %></p>
	<p>CPU: <%= cpuChoice %></p>
	<h2>And the winner is: <%= winner %></h2>
</body>
</html>